$charcoal: #bbb;

#container {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 100vw;
  min-height: calc(100vh - 50px);
  background-color: rgba(0,0,0,0.2);
  margin: 0;
  padding: 50px 0;
}
@media (max-width: 600px) {
  .column {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}
@media (max-width: 450px) {
  .column > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 1px solid $charcoal;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}