#header {
  align-items: center;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.5);
  height: 50px;
  max-width: 100vw;
  width: 100vw;
}

#header > nav {
  align-items: center;
  display: flex;
}

.print {
  &:hover {
    color: green;
    background-color: white;
  }
}

.toggle-css {
  &:hover {
    color: #17a2b8;
    background-color: white;
  }
}

.btn-portfolio {
  color: white;
  background-color: #007bff;

  &:hover {
    color: #007bff;
    background-color: white;
  }
}

.portfolio-link {
  color: white;

  &:hover {
    color: #007bff;
  }
}