#header {
  align-items: center;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.5);
  height: 50px;
  max-width: 100vw;
  width: 100vw;
}

#header > nav {
  align-items: center;
  display: flex;
}

.print {
  &:hover {
    color: green;
    background-color: white;
  }
}

.portfolio {
  &:hover {
    color: blue;
    background-color: white;
  }
}

.portfolio-link {
  color: white;

  &:hover {
    color: blue;
  }
}
@media (max-width: 600px) {
  #header {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}
@media (max-width: 450px) {
  #header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 1px solid #bbb;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}