$charcoal: #bbb;

#info-contact {
  // margin: 0;
  // padding: 50px;
  // display: flex;
  // flex-direction: column;
  // width: 35%;
  // height: 100%;
  background-color: darkslategrey;
  color: white;
}
@media (max-width: 600px) {
  .column {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}
@media (max-width: 450px) {
  .column > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 1px solid $charcoal;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}