@media print {
  @page {
    margin: 0;
    -webkit-print-color-adjust: exact;
  }

  #header {
    display: none;
    height: 0 !important;
  }

  #resume {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-print-color-adjust: exact;
  }

  #app,
  #container,
  #root {
    height: 100%;
  }

  body,
  html {
    height: 100%;
  }

  i {
    display: none;
  }

  .icon {
    display: none;
  }

  .img {
    display: none;
  }
}