#resume {
  display: flex;
  flex-direction: row;
  width: 850px;
  max-width: 850px;
  height: 1100px;
  max-height: 1100px;
  overflow: hidden;
  background-color: white;
  color: black;
  position: absolute;
}