$icon-height: 20px;

html {
  box-sizing: content-box;
  font-family: Roboto;
  background-color: black;
}

body {
  opacity: 0;
  color: black;
}

a {
  color: #6c757d;
  display: block;
  height: inherit;
  margin-bottom: 0;
  font-size: 1rem;

  &:hover {
    text-decoration: none;
  }
}

li {
  height: inherit;
  margin-bottom: 0;
  font-size: 1rem;
}

p {
  height: inherit;
  margin-bottom: 2px;
  font-size: 1rem;
}

#background {
  background-color: #696969;
  background-image: url("https://i.imgur.com/ixK7Npm.jpg");
  background-size: cover;
  padding: 5%;
  opacity: 1;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}

.big-name {
  font-size: 4rem;
}

#contact-info {
  // width: 25%;
}

.date-duration {
  margin-left: auto;
}

.education-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#header {
  display: flex;
  justify-content: space-between;
}

.icon {
  height: $icon-height;
  width: $icon-height;
  margin-right: 1rem;
}

.contact-item {
  padding-right: 50px;
}

.column-0 {
  & > * {
    padding-left: 50px;
  }
}

#print {
  font-size: 2rem;
  box-shadow: 0 5px 15px rgba(200,200,200,0.7);
  background-color: rgba(32,32,32,0.5);
  color: white;
  z-index: 1;

  &:hover {
    background-color: white;
    color: black;
  }
}

#portfolio {
  right: 0;
  font-size: 2rem;
  box-shadow: 0 5px 15px rgba(200,200,200,0.7);
  background-color: rgba(32,32,32,0.5);
  z-index: 1;

  & > a {
    font-size: 2rem;
    color: white;
  }

  &:hover > a {
    color: green;
  }
}

#projects {
  padding: 50px 50px 50px 25px;
}

.project-text {
  font-size: 100%;
}

#preview-image {
  display: none;
}

.skills-header {
  font-size: 150%;
  margin-bottom: 25px;
  background-color: #446F6F;
}

#skills {
  padding: 50px 0;
  background-color: DarkSlateGrey;
  margin-right: 1rem;

  & > div > a > span {
    color: white;
  }

  & > div > div > a > p {
    color: white;
  }
}

#skills-and-projects {
  display: flex;
  flex-direction: row;
}

#resume {
  width: 1150px;
  box-shadow: 5px 10px;
  overflow: hidden;
  background-color: white;
}