@media (max-width:700px) {
  html {
    font-size: 8px;
  }

  #resume {
    padding: 16px;
    margin: 0;

    #header {
      flex-wrap: wrap;
      justify-content: center;
    }

    .date-duration {
      margin-left: 0;
    }

    #name-and-title {
      text-align: center;
      width: 100%;
    }

    #contact-info {
      width: 100%;
    }

    #skills-and-projects {
      display: flex;
      flex-direction: column;
    }

    #skills {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .education-item {
      flex-direction: column;
    }
  }
}