@media print {
  @page {
    margin: 0;
  }

  #background {
    padding: 0;
    margin: 0;
    background-color: green;
    height: 100vh;
  }

  #resume {
    height: 100vh;
    width: 100vw;
    box-shadow: none;
    color: black;
    background-color: white;
    -webkit-print-color-adjust: exact;

    a {
      text-decoration: none;
    }

    .interest-item-text {
      color: white;
    }
  }

  #skills-and-projects {
    height: 100vh;
    width: 100vw;
  }

  #print {
    display: none;
  }

  #portfolio {
    display: none;
  }
}